/*
 * Contact page layout
 */
.contact-form {
	label {
		display: block;
	}

	input, textarea {
		border: 1px solid tint($gray, 10%);
		@include border-radius($base-radius);
		@include box-sizing(border-box);
		padding: .5em;
		width: 100%;
	}

	[type="submit"] {
		background-color: $accent-color;
		border: none;
		@include border-radius($base-radius);
		color: tint($light-background, 70%);
		padding: .5em;
		text-decoration: none;
		@include single-transition(all, 200ms, ease-in-out);

		&:focus, &:hover {
			background-color: $font-color;
		}
	}
}