---
layout: default
body_class: "post-page"
sitemap:
  - changefreq: "weekly"
  - priority: "1"
---
<div class="post {% if page.format and page.format == "link" and page.link != "" %}post-format--link{% endif %}">

  {% if page.format and page.format == "link" and page.link != "" %}
    <a href="{{ page.link }}" class="post-title">{{ page.title }}</a>
  {% else %}
    <h1 class="post-title">{{ page.title }}</h1>
  {% endif %}

  {% if page.image and page.image != "" %}
  <figure class="thumbnail">
    <img src="{{ page.image }}" alt="{{ page.title }}" />
  </figure>
  {% endif %}

  {{ content }}
</div>

<div class="share">
    <li><a class="share-icon--twitter" href="https://twitter.com/intent/tweet?text={{ page.title | strip_html }}&url={{site.url}}{{ page.url }}&via={{ site.twitter_username }}">Twitter</a></li>
    <li><a class="share-icon--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{ page.url }}">Facebook</a></li>
</div>